@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.rps-bg {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  background-color: #9c835f;
}

.navbar a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #724c21;
}
.navbar h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #f9b23d;
}

.player,
.com {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.1em;
  padding-top: 2%;
}

.player img,
.com img {
  width: 128px;
  height: 92px;
}

.vs h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 196px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #bd0000;
}
.result-text p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.refresh img {
  width: 77px;
  height: 71px;
  left: 681px;
  top: 843px;
}

@media screen and (max-width: 990px) {
  .content,
  .rps-bg {
    width: 100%;
  }
}
